.bj1b{
    width: 100vw;
    display: block;
}
.bs{
    background-image:url("../image/love/bj.png");
    width: 100%;
    height: 100%;
    display: block;
}
.bcode{
    width: 3.34rem;
    height: 3.34rem;
}


