.bj1b{
    width: 100vw;
    display: block;
}
.bs{
    background-image:url("../image/love/bj.png");
    background-size: 100vw;
    height: 5.36rem;
}
.bcode{
    width: 3.34rem;
    height: 3.34rem;
    margin-top: 1.2rem;
}

