.bj1b{
    width: 100vw;
    display: block;
}
.bt{
    width: 7.07rem;
    height: 1.76rem;
    background: #fef4f7;
    border-radius: 10px;
    font-size: .28rem;
    color: #d16284;
    padding: .25rem;
    margin: .2rem;
}



